<html>
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
<p><b>Login</p>
<form method="POST" action='/login'>
    <input name="username" type="text" placeholder="username"></input>
    <input name="password" type="password" placeholder="password"></input>
    <input type='submit' value="Login">
  </form>
  
<hr>

<p><b>New User?<br>Sign Up below</b></p>
<form method="POST" action='/signup'>
    <input name="username" type="text" placeholder="username"></input>
    <input name="password" type="password" placeholder="password"></input>
    <input type='submit' value="signup">
  </form>
</body>
</html>